.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.responseContainer {
    display: flex;
    gap: 80px;
    padding-left: 100px;
}

.imageContainer {
}

.image {
}

.textContainer{
    margin-top: 50px;
}

.code {
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 37px;
}

.text, .info {
    font-size: 16px;
    line-height: 20px;
}