.loader {
    display: inline-block;
    width: 2em;
    height: 2em;
    color: #0066CC;
    vertical-align: middle;
    pointer-events: none;
    border: .4em dotted currentcolor;
    border-radius: 50%;
    animation: 2s loader linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}